*{margin:0; padding:0; box-sizing:border-box; font-family:"Poppins",sans-serif;}

body{
    background:#dfe9f3;
    min-height:100vh;
    display:flex;
    flex-direction: column; 
    justify-content: flex-start;  /* items start from top */
    align-items: center;  /* center horizontally */
    transition:0.4s;
}

.container{
    width:90%;
    max-width:450px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding:20px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

h2{margin-bottom:10px;}

input{
    width:100%;
    padding:12px;
    border: none;
    border-radius:12px;
    font-size:16px;
    margin-bottom:12px;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    border:none;
    color:white;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#005fcc;
}

.result{
    margin-top:20px;
}

.temp{
    font-size:48px;
    font-weight:700;
}

.weather-icon{
    width:100px;
}

.toggle {
  display: inline-block;
  padding: 6px 18px;
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  color: white;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.toggle:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


/* Weather animations */
.sunny{
    background:linear-gradient(#ffe259,#ffa751);
}

.cloudy{
    background:linear-gradient(#bdc3c7,#2c3e50);
}

.rainy{
    background:linear-gradient(#4b79a1,#283e51);
}

.snowy{
    background:linear-gradient(#e0eafc,#cfdef3);
}

.footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #333;
    opacity: 0.7;
    margin-top: auto; 
}

